@import url(./reset.css);
:root {
  --white: hsl(255, 100%, 100%);
  --pale-blue: hsl(225, 100%, 94%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --bright-blue: hsl(245, 75%, 52%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --footer-link: hsl(228, 45%, 44%);
  --font: "Red Hat Display", sans-serif;
}
body {
  font-family: var(--font);
  background: url(/images/pattern-background-desktop.svg) no-repeat;
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
}

main {
  max-width: 37.5rem;
  margin: 0 auto;
  height: auto;
  background: var(--white);
  border-radius: 1rem;
  box-shadow: 1rem 1rem 3rem -1rem var(--pale-blue);
}
.top-card-img img {
  max-width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.card-content,
.plans,
.actions {
  display: flex;

  align-items: center;
}

.card-content,
.actions {
  flex-flow: column nowrap;
}
.card-content {
  padding: 2rem;

  border-radius: 1rem;
}
.card-title {
  color: var(--dark-blue);
  font-weight: 900;
}
.description {
  text-align: center;
  margin: 2rem 0;
  line-height: 1.5;
  color: var(--desaturated-blue);
}
.plans {
  width: 100%;
  justify-content: space-around;
  margin: 2rem 0;
  background: var(--very-pale-blue);
  border-radius: 0.7rem;
  padding: 1rem 0.5rem;
}

.plan-category {
  color: var(--dark-blue);
  font-weight: 900;
  margin-bottom: 0.6rem;
}
.plan-price {
  color: var(--desaturated-blue);
}
.change-plan {
  text-decoration: underline;
  color: var(--bright-blue);
  font-weight: 700;
}
.change-plan:hover,
.proceed-payment-btn:hover,
.cancel-operation-btn {
  cursor: pointer;
}
.change-plan:hover {
  text-decoration: none;
  opacity: 0.7;
}
.proceed-payment-btn {
  border: 0;
  outline: 0;
  background: var(--bright-blue);
  color: var(--very-pale-blue);
  font-size: 1.5rem;
  font-weight: 900;
  padding: 2rem 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem -1rem var(--bright-blue);
  width: 33.5rem;
  margin-bottom: 2.5rem;
}
.proceed-payment-btn:hover {
  opacity: 0.7;
}
.cancel-operation-btn {
  background: transparent;
  outline: 0;
  border: 0;
  color: var(--desaturated-blue);
  font-weight: 900;
}
.cancel-operation-btn:hover {
  color: var(--bright-blue);
}
.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin: 2rem 0;
  background: var(--pale-blue);
  border-radius: 1rem;
  padding: 0.5rem;
}
.attribution a {
  color: var(--footer-link);
}

@media screen and (max-width: 70rem) {
  body {
    background: url(/images/pattern-background-mobile.svg) no-repeat;
    background-size: 100%;
  }
}
